<template name="footer">
    <footer>
    	<div class="row small-up-1 medium-up-4 wrap footer-menus">
			<div class="column">
				<p>
					CONTACT US
				</p>
				<hr>
				<a href="#"><i class="fa fa-phone"></i>08454501002</a>
				<a href="#"><i class="fa fa-at"></i>info@darkmatters.net</a>
                <a href="#"><i class="fa fa-skype"></i>skype-address</a>
				
			</div>
			<div class="column">
				<p>SOCIAL MEDIA</p>
				<hr>
				<a href="#"><i class="fa fa-twitter"></i>twitter</a>
				<a href="#"><i class="fa fa-facebook"></i> facebook</a>
				<a href="#"><i class="fa fa-youtube"></i>youtube</a>
			</div>
			<div class="column">
				<p>ARCHIVIES</p>
				<hr>
                 <ul>
                <li>Archive 1</li>
                <li>Archive 2</li>
                <li>Archive 3</li></ul>
			</div>
			<div class="column">
				<p>SHOWS</p>
				<hr>
                <a href="#"><i class="fa fa-headphones"></i>show 1</a>
				<a href="#"><i class="fa fa-headphones"></i>show 2</a>
				<a href="#"><i class="fa fa-headphones"></i>show 3</a>
			</div>
    	</div>
    	 <!-- Copyright -->
    	<div class="copyright">
	    <div class="wrap">
		 	<p>© Copyright 2016 - Your Company Here</p>
		</div>
    </div>
    </footer>
</template>