<template name='desktopNav'>
<div class="fixed"> 
<nav class="top-bar nav-desktop">
    <div class="wrap">	
	  <div class="top-bar-left">
	      <h4 class="site-logo"><i class="fa fa-rocket"></i>My BoilerPlate</h4>
	  </div>
	  
	  <div class="top-bar-right">
	    <ul class="menu menu-desktop">
	      <li><a href='#'>About</a></li>
		  <li><a href='#'>Blog</a></li>      
	      <li><a href='#'>Projects</a></li>
	      <li><a href='#'>Contact</a></li>
	    </ul>
	   </div>
     </div>
	</nav>
  </div>   
</template>